@import "./sliding.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Setting fade transition and default settings */
body {
    color: #000;
    background-color: #f4f4f4;
    transition: background-color 1s ease;
}

/* panel styles */
.panel {
    /* min height incase content is higher than window height */
    min-height: 100vh;
    /* outline: 10px solid hotpink; */
    /* turn above on to see the edge of panels */
}